<div class="toolbar" role="banner">
  <span class="header">Manage Photos</span>
</div>

<div *ngIf="!showCamera" class="content" role="main">
  <p>Photos are the first thing members look in your profile. Add multiple photos to get more matches.</p>
</div>
<div *ngIf="showCamera" class="content" role="main">
  <p>Drag photos to reorder,First photo will be displayed as profile photo</p>
</div>

<div *ngIf="!showCamera">
  <div class="photo">
    <a class="circle-link">
      <i class="plusIcon">+</i>
    </a>
  </div>
  <span style="margin-left: 47px;">Add Photo</span>
</div>

<div *ngIf="showCamera">
  <video #video autoplay playsinline muted></video>
  <canvas #canvas></canvas>

  <mat-grid-list cols="3" rowHeight="300px" cdkDropList (cdkDropListDropped)="reorderImages($event)">
    <mat-grid-tile *ngFor="let image of capturedImages; let i = index" cdkDrag>
      <img [src]="image" alt="Image" style="width: 100%; height: 100%;">
      <button mat-icon-button class="close-button" (click)="removeImage(i)">
        <i class="bi bi-x-circle" style="font-size: 16px;"></i>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<footer>
  <button (click)="openBottomSheet()">Add Photos</button>
</footer>